# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
build/
dist/

# Environment files
.env
.env.template

# Model files
models/

# Output directories
outputs/
src/outputs/

# Dependencies
requirements.txt
uv.lock 